<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <%if(post.noDate != "true"){%>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    </div>
  <%}%>
  <div class="article-inner">
    <% if (theme.fancybox){ %>
      <input type="hidden" class="isFancy" />
    <% } %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
      <% if (!index){ %>
      <div class="article-info article-info-post">
        <%- partial('post/tag') %>
        <%- partial('post/category') %>
        <div class="clearfix"></div>
      </div>
      <% } %>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
      <% } else { %>
        <% if (!index && config.toc){ %>
        <div id="toc" class="article-toc" style="display: none;">
          <%- toc(post.content) %>
          <!-- <hr/> -->
        </div>
        <% } %>
        <%- post.content %>
      <% } %>
    </div>
    <% if (index){ %>
    <div class="article-info article-info-index">
      <%if(post.top){%>
        <div class="article-pop-out tagcloud">
          <a class="">置顶</a>
        </div>
      <% } %>
      <%- partial('post/tag') %>
      <%- partial('post/category') %>
      <% if (post.excerpt && index){ %>
        <p class="article-more-link">
          <a <% if (!theme.excerpt_link){ %>class="hidden"<% } %> href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %> >></a>
        </p>
      <% } %>
      <div class="clearfix"></div>
    </div>
    <% } %>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && theme.share_jia){ %>
<%- partial('post/share_jia') %>
<% } %>

<% if (!index && theme.share_addthis){ %>
<%- partial('post/share_addthis') %>
<% } %>

<% if (!index && post.comments && config.duoshuo_shortname){ %>

<style>
    #mask {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
        z-index:99999;
        overflow: auto;
    }

    #toc-container {
        width: 500px;
        margin: 30px auto;
        background: rgba(255, 255, 255, 0.7);
        padding: 10px 20px;
        border-radius: 4px;
    }

    #mask .toc li {
        margin: 10px;
    }

    #mask .toc li a {
        color: rgb(43, 43, 43);
    }
</style>
<section id="comments" class="duoshuo">
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="<%= post.layout %>-<%= post.slug %>" data-title="<%= post.title %>" data-url="<%= page.permalink %>"></div>
    <!-- 多说评论框 end -->

    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name:'<%= config.duoshuo_shortname %>'};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();

        $(document).ready(function() {
            createMask();

            $(document).keyup(function(e) {
                if (e.keyCode == 49) {
                    $('#mask').toggle();
                }
            });
        });

        function createMask() {
            var $mask = $('<div id="mask"><div id="toc-container"></div></div>');
            var $toc = $('#toc');
            $mask.find('#toc-container').append($toc);
            $toc.show();
            $mask.hide();
            $('body').prepend($mask);
        }
    </script>
    <!-- 多说公共JS代码 end -->
</section>
<% } %>
